{
	"plugins": ["prettier-plugin-tailwindcss", "@ianvs/prettier-plugin-sort-imports"],
	"tabWidth": 2,
	"useTabs": true,
	"printWidth": 120,
	"singleQuote": false,
	"trailingComma": "none",
	"jsxSingleQuote": false,
	"importOrder": [
		"^(react/(.*)$)|^(react$)",
		"^(next/(.*)$)|^(next$)",
		"<THIRD_PARTY_MODULES>",
		"",
		"^@/lib/(.*)$",
		"^@/utils/(.*)$",
		"^@/hooks/(.*)$",
		"^@/types/(.*)$",
		"^@/components/ui/(.*)$",
		"^@/components/modules/(.*)$",
		"^@/components/dialogs/(.*)$",
		"^@/components/pages/(.*)$",
		"^@/components/(.*)$",
		"^@/styles/(.*)$",
		"^@/app/(.*)$",
		"",
		"^[./]"
	],
	"importOrderSeparation": false,
	"importOrderSortSpecifiers": true,
	"importOrderBuiltinModulesToTop": true,
	"importOrderParserPlugins": ["typescript", "jsx", "decorators-legacy"],
	"importOrderMergeDuplicateImports": true,
	"importOrderCombineTypeAndValueImports": true
}
